/* ===== BASE ===== */
body {
  background-color: #0d0d1a;
  font-family: Arial, sans-serif;
  margin: 40px;
  color: #ffffff;
  text-align: center;
  font-family: 'Rajdhani',sans-serif;
}

/* ===== HEADINGS ===== */
h1 {
  color: #a78bfa;
  font-size: 42px;
  text-align: center;
  font-family: 'Orbitron',sans-serif;
}

h2 {
  color: #7dd3fc;
}

/* ===== ID SELECTOR ===== */
#main-title {
  color: #a78bfa;
  font-size: 42px;
  text-align: center;
}

/* ===== CLASS SELECTORS ===== */
.intro {
  text-align: center;
  color: #cccccc;
  font-size: 16px;
}

/* ===== LISTS ===== */
.list-container {
  display: flex;
  justify-content: center;
}

ul,ol {
  text-align: left;
  display: inline-block;
  padding-left: 20px;
}

/* ===== IMAGE ===== */
img {
  display: block;
  margin: 20px auto;
  border-radius: 12px;
}

/* ===== LINKS ===== */
a {
  color: #f472b6;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
h1 {
  padding: 20px;
  margin-bottom: 30px;
  border: 2px solid #a78bfa;    /* ← fa not a7 */
  border-radius: 12px;
}
h2
{
  padding : 10px 20px;
  margin: 20px 0px;
  border-left:4px solid #7dd37d;
  display : inline-block;
}
p{
  margin: 10px 0;
  padding: 0 20px;
}
.skills{
  display: flex;
  justify-content: center;
  gap : 25px;
  font-weight: bold;

}
body {
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:20px;
}
.container{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:20px;
  max-width:600px;
  margin:auto;
}
.actions{
  display:flex;
  gap:15px;
  align-items:center;
}
.colored-text{
  color: aqua;
}
.colored-heading{
  color:blueviolot;
}